<html>

<head>
    <title>회원가입</title>
</head>

<body>
    <fieldset>
        <legend>회원가입</legend>
        <form id="form_info" action="user_info" enctype="multipart/form-data" method="GET">
            아이디* <input type="text" name="userId" placeholder="ID" required><br>
            이름* <input type="text" name="name" placeholder="이름" required><br>
            비밀번호* <input type="password" name="userPw" required><br>
            코멘트 <input type="text" name="comment" placeholder="코멘트를 작성해주세요."><br><br>
            <button type="submit">회원가입</button>
        </form>
        
</body>

</html>