<html>

<head>
    <title>로그인</title>

</head>

<body>
    <form action="/user/login" target="_blank" method="post">
        <fieldest style="width: 300px;">
            <legend>개인정보</legend>
            아이디 : <input type="text" name="id"><br>
            비밀번호 : <input type="text" name="pw"><br>
        </fieldest>
        <button>로그인</button>
    </form>
</body>

</html>